<div class="flex items-center justify-between p-4">
  <span>ApolloMed</span>
  <apollo-input placeholder="Hae avainsanoja..." class="w-2/3"></apollo-input>
  <div class="flex gap-4">
    <i class="fa-regular fa-bell fa-2x text-gray-500"></i>
    <div class="h-[34px] w-[55px] bg-gray-100 rounded-full border border-gray-300 flex items-center justify-between relative cursor-pointer" (click)="toggleShowUserMenu()">
      <i class="fa fa-user-circle text-gray-200 bg-gray-500 rounded-full fa-2x"></i>
      @if (showUserMenu()) {
        <i class="fa fa-chevron-up fa-xs mr-1" ></i>
        <div class="absolute border top-[40px] left-[-150px] border border-gray-300 rounded-sm p-4 w-[200px]">Hello from menu</div>
      } @else {
        <i class="fa fa-chevron-down fa-xs mr-1"></i>
      }
    </div>
  </div>
</div>
