<!-- <div class="flex flex-col gap-2 items-center justify-center p-2 w-[120px]">
  <div class="h-[40px] w-[40px] flex justify-center items-center rounded-md bg-gray-300">
    <mat-icon>{{ icon() }}</mat-icon>
  </div>
  <span class="text-xs">{{ title() }}</span>
</div> -->

<div class="flex flex-col gap-2 items-center justify-center p-2 w-[120px]">
  <div [class]="iconContainerClasses()">
    <mat-icon>{{ icon() }}</mat-icon>
  </div>
  <span class="text-xs text-center">{{ title() }}</span>
</div>
