.search-input-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 5px;
}

.search-input {
  flex-grow: 1;
  border: none;
  padding: 8px;
  outline: none;
}

.search-icon {
  margin-left: 8px;
  color: #777; /* Пример цвета иконки */
}
