<div class="dashboard-container">
  <aside class="dashboard-sidebar-left">
    <apollo-widget [title]="'Työlista'" [chips]="[{icon: 'calendar_today', title: 'Kalenteri'}]">
      <widget-worksheet class="worksheet-widget"></widget-worksheet>
    </apollo-widget>
  </aside>
  <main class="dashboard-general-info">
    <apollo-widget class="general-info-widget" [background]="'bg-gray-300'">
      <widget-general-info></widget-general-info>
    </apollo-widget>
  </main>
  <aside class="dashboard-sidebar-right">
    <apollo-widget class="personal-info-widget">
      <widget-personal-info ></widget-personal-info>
    </apollo-widget>
    <section class="last-patients-widget">
      <apollo-widget [title]="'Viimeisimmät potilaat'">
        <widget-last-patients></widget-last-patients>
      </apollo-widget>
    </section>
  </aside>
</div>
