<div class="dashboard-container">
  <aside class="dashboard-sidebar-left">
    <widget-worksheet class="worksheet-widget"></widget-worksheet>
  </aside>
  <main class="dashboard-general-info">
    <widget-general-info class="general-info-widget"></widget-general-info>
  </main>
  <aside class="dashboard-sidebar-right">
    <widget-personal-info class="personal-info-widget"></widget-personal-info>
    <section class="last-patients-widget">
      <widget-last-patients></widget-last-patients>
    </section>
  </aside>
</div>
